source https://api.nuget.org/v3/index.json

framework: net451
redirects: on

nuget FSharp.Core 4.0.0.1
nuget FSharp.Compiler.Service ~> 10.0.1
nuget FSharp.Compiler.Service.ProjectCracker ~> 10.0.1
nuget WebSharper
nuget FsUnit.xUnit
nuget xunit.runner.console ~> 2.1
//https://github.com/fsprojects/Paket/issues/516#issuecomment-124178320
nuget xunit.runner.visualstudio ~> 2.1 version_in_path: true

nuget Unquote >= 3.1.2