version 5.203.2

source https://api.nuget.org/v3/index.json

framework: net472
redirects: on

nuget FSharp.Core 4.6.2 redirects: force
nuget FSharp.Compiler.Service ~> 28.0.0
nuget System.Collections.Immutable ~> 1.5.0
nuget System.Reflection.Metadata ~> 1.6.0
nuget System.Runtime.Serialization.Json
nuget Microsoft.CodeDom.Providers.DotNetCompilerPlatform 1.0.0 framework: >= net461
nuget Microsoft.Net.Compilers 1.0.0 framework: >= net461
nuget WebSharper.FSharp ~> 4.2.12.259
nuget FsUnit.xUnit >= 3.1.0
nuget xunit.runner.console ~> 2.3.1
nuget Argu ~> 5.1.0
nuget xunit.runner.visualstudio ~> 2.3.1
nuget xunit ~> 2.3.1
nuget xunit.core ~> 2.3.1
nuget Unquote >= 3.1.2
nuget Newtonsoft.json >= 11.0.2 