type project
licenseUrl https://github.com/cgravill/TypesTSFS/blob/master/LICENSE
projectUrl https://github.com/cgravill/TypesTSFS
version 0.1.5
authors Colin Gravill
include-referenced-projects true
description
  Map F# to TypeScript to allow safe interoperability
tags
  F#, TypeScript


files
	bin/Release/* ==> tools
	../LICENSE ==> .

excludedgroups
	main